.topnav {
  background-color: rgb(180, 178, 178);
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(66, 66, 66);
  color: black;
}

.topnav a.active {
  background-color: #dfdfdf;
  color: var(--primario) !important;
}

.topnav .icon {
  display: none;
}
